<div>
    <form method="post" action="https://localhost:8080/create-mix">
        <input type="text" id="new-playlist-name" name="NAME">
        <br>
        {{#each playlists}}
        <input type="checkbox" id="{{@index}}" name="{{this.name}}" value="{{this.id}}">
        <label for="{{this.name}}"> {{this.name}}</label><br>
        {{/each}}
        <input type="submit" name="create mix">
    </form>
</div>